:root {
  --primary: #a594f9;
  --secondary: #cdc1ff;
  --black: #525252;
  --green: #34c759;
  --red: #ff3b30;

  --z-index-deep: -10;
  --z-index-low: 10;
  --z-index-surface: 20;
  --z-index-high: 30;
  --z-index-top: 40;
}
